@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2"),
    url("/fonts/JetBrainsMono-Regular.ttf") format("ttf");
}

@layer base {
    html {
        font-family: "JetBrains Mono", system-ui, sans-serif;
    }
}

.m-scale {
    &-move,
    &-enter-active,
    &-leave-active {
        transition: all 0.2s ease;
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: scale(0.98);
    }
}

.m-box {
    @apply py-2 px-3 rounded bg-white shadow;
}

.m-hover-scale {
    @apply hover:scale-105 transition duration-75 cursor-pointer;
}

.m-hover-highlight {
    @apply hover:text-green-400;
}

.m-hover-highlight-group {
    @apply group-hover:text-green-400;
}

.m-shadow {
    @apply shadow-[0px_0px_4px_2px_rgba(0,0,0,0.1)];
}

.m-input {
    @apply block border-0 border-b focus:ring-0 focus:border-green-400;
}
